  body{
  background-color: grey;
  }

.login-page{
  width:360px;
  padding:10% 0 0;
  margin:auto;
}
.form{
  position:relative;
  z-index:1;
  background:#ffffff;
  max-width:360px;
  margin:0 auto 100px;
  padding:45px;
  text-align:center;
}
.form-input{
  font-family:"Roboto", sans-serif;
  outline:1;
  background:grey;
  width:100%
  border:0;
  margin:0 0 15px;
  padding:15px;
  box-sizing:border-box;
  font-size:14px;
}
.form-buttom{
  font-family: "Roboto",sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width:100%;
  border:0;
  padding:15px;
  color:#FFFFFF;
  font-size:14px;
  cursor:pointer;

}
.form.register-form{
  display:none;

}
